/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
}

section::before {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg,#9c27b0,#f3f4f5);
    border-radius: 50%;
    transform: translate(-150px, -100px);
}

section::after {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg,#9c27b0,#f3f4f5);
    border-radius: 50%;
    transform: translate(150px, 100px);
}

.container {
    position: relative;
    height: 225px;
    width: 375px;
    z-index: 100;
}

.container .card {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: rgb(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}